.invicon{
    width: 50px;
    height: 50px;
    background: #0B5F31;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
   
}
.investCards{
    width: 200px;
    height: 128px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
.invIcons{
    width: 32px;
    height: 32px;
    background: #EBF4FF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left h3{
    margin: 0;
    color: #0B5F31;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.maincontent{
    display: flex;
    align-items: center;
    padding-left: 20px;
}