.availabilityPage{
    padding-left: 20px !important;
}

.smallCard{
    width: 127px !important;
    height: 70px !important;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 5px;
    position: relative;
    padding: 5px;
}
.smallCard span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.smallCard img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    filter: brightness(0.5);
}
.caption{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
}
.caption div{
    display: inline-grid;
    width: 100%;
    text-align: center;
}
.caption div span{
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content h3{
    text-transform: uppercase;
    margin-left: 20px;
}

.goBack{
    display: inline-flex;
    align-items: center;
}


.mainContent{
    display: inline-flex;
}

.currencies span:first-child{

font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
color: #0B5F31;
}
.currencies span{
 margin: 5px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: #6B6B6B;
}

.currencies{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 30px;
}
.icons{
    display: flex;
}
.icons div{
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.icons div:first-child{
    background: #E8FFF2;
}
.icons div:nth-child(2){
    background: #E0F9FF;
}
.icons div:nth-child(3){
    background: #FFF4F4;
}
.icons div:nth-child(4){
    background: #EBF4FF;;
}
.icons div:last-child{
    background: #FFF7E9;
}
.largeCard{
    margin-left: 10px;
    margin-top: 15px;
    width: 220px;
    justify-content: space-between;
    display: flex;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}

.description{
    display: flex;
    align-items: center;
}

.largeCardContent{
    display: flex;
}
.largeCardInfo{
    display: flex;
    flex-direction: column;
    margin: 11px;
    margin-top: 0;
}

.largeCardInfo span{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
}
.largeCardInfo span:last-child{
    margin-top: 11px;
}

.cardImage{
    display: flex;
    position: relative;
}

.lastIcon{
    width: 50px;
    height: 50px;
    background: #0B5F31;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
