.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 220px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
    position: relative;
    padding: 15px;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    filter: brightness(0.5);
}
.caption{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
}
.caption div{
    display: inline-grid;
    width: 100%;
    text-align: center;
}
.caption div span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
}
.cardHover{
    visibility: hidden;
    height: 0%;
  }
.card:hover .cardHover{
    visibility: visible;
    display: block !important;
    position: absolute;
    width: 100%;
    height: 45% !important;
    background: #207137;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    transition: ease 0.5s;
}

.cardHoverAll{
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100% !important;
    background: #207137;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    transition: ease 0.5s;
}


.information{
    height: 100%;
 }

.total{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #BCBCBC;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.left{
    display: grid;
}
.otherCurrencies{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.information span{
    color: white;
    text-transform: uppercase;
}
.otherCurrencies .right{
    display: flex;
    align-items: flex-end;
}
.total .left span:first-child{
    width: 67px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    
}
.total .left span:last-child{
    width: 41px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
}

.info:first-child span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0B5F31;
}
