.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.searchForm {
     /* border: 1px solid #000;  */
    min-height: 20px; 
    background: #F3F3F3;
    border-radius: 100px; 
    width: 450px;
   }

   input[type="search"] {
    border: none; 
    outline: none;  
    -webkit-appearance: none;  
    width: 330px;
    height: 36px;
    vertical-align: middle; 
    background: #F3F3F3;
    border-radius: 100px; 
    
   }
   input[type="submit"] {
      
    border: none;  
    background: #0B5F31;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    color: white;
    width: 118px;
    height: 32px;
    }