.description{
  flex-wrap: wrap;
}

.filter{
    margin-top: 20px;
}

.sd-container {
    position: relative;
    float: left;
  }
  
  .sd,select {
     
    width: 200px;
    height: 32px;
    background: #F3F3F3;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    margin-right: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #222222;
  }
  
  .open-button {
    position: absolute;
    top: 4px;
    right: 24px;
    width: 25px;
    height: 25px;
    background:  #F3F3F3;
    pointer-events: none;
  }
  
  .open-button button {
    border: none;
    background: transparent;
  }
.dateInfo{
    margin-top: 20px;
    display: inline-flex;
}

  .dateInfo div{
    width: 92px;
    height: 32px;
    background: #E8FFF2;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .dateInfo div span{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    
    color: #222222;
  }
  table,tr,th,td{
    border-collapse: collapse;
      border: 1px solid #1A7946;
      margin-top: 20px;
      width: 940px;
      text-align: center;
  }
  table tr:first-child{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: white;
    height: 31px;
    background: #0B5F31; 
  }
  tbody tr td{
    background: #F3F3F3  !important;
    color:  #222222;
  }

 