.fundPage{
    padding-left: 20px;
}
.selectBlock{
    margin-top: 20px;
    text-align: right;
}
table{
    width: 1055px;
    text-transform:uppercase
}
.sellblock{
    width: 50px;
    height: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: auto;
}