.bgLayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,0.8);
    left: 0;
    top:0;
}
.modal{
    width: 537px;
    background: #E5E5E5;
    padding: 20px;
    padding-top: 0;
}
.modalHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.closeModal{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.modalContent{
    position: relative;
    display: flex;
}
.leftSide{
    width: 330px;
}
.leftSide input{
    /* margin-top: 16px; */
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
}
.leftSide textarea{
    width: 280px;
    height: 67px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}
 
.leftSide textarea, .leftSide input{
margin: 5px 0px 5px 0px;
}
.rightSide .file{
    background-image: url('../../components/images/icon/upload.png');
    width: 131px;
    height: 68px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    /* background: #FFFFFF; */
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#file{
    visibility: hidden;
}
.add{
    width: 174px;
    height: 32px;
    background: #0B5F31;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
}
.closedModal{
    display: none;
}