.addBankIcon{
    width: 50px;
    height: 50px;
    background: #0B5F31;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContent{
    display: inline-flex;
    align-items: center;
}

.bankPage{
    padding-left: 20px;
}
.bankcard{
    position: relative;
    width: 200px;
    height: 120px;
    padding: 7px 8px 7px 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
}
.bankImg{
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    border-radius: 10px;
}
.dote{
    position: relative;
    left: 190px;
    bottom: 45px;
}