.all{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.page{
  width: 1090px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 3px #E5E5E5;
  padding-bottom: 100px;
}
.analitica{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.analiticCard{
  width: 450px;
  background: #F3F3F3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info{
  width: 100%;
  text-align: center;
  display: flex;
  height: 100%;
  border-right: 1px solid #C4C4C4;
  flex-direction: column;
  justify-content: center;
}
.info p{
  margin-bottom: 0;
  margin-top: 0;
}
.info:last-child{
  border-right: none;
}